@model WebApplication2.ModelsDB.lot

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>lot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.district.district_def)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district.district_def)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lots_type.Type_Def)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lots_type.Type_Def)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street.street_def)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street.street_def)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptionn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptionn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_house)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_house)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_flat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_flat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.count_rooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.count_rooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raiting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raiting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metro_stations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metro_stations)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
