@model IEnumerable<WebApplication2.ModelsDB.AspNetUsers>

<script>
    function UserBlock(t) {
        $.get('/Manage/UserBlock?_id=' + t);
    }
    function UserUnlock(t) {
        $.get('/Manage/UserUnlock?_id=' + t)
    }
</script>

<div class="btn-group mb-2" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary" onclick="plasPosUser(-1);"><img src="~/Content/Img/Icon/chevron-left.svg" width="100%" /></button>
    <button type="button" class="btn btn-outline-secondary" onclick="plasPosUser(1);"><img src="~/Content/Img/Icon/chevron-right.svg" width="100%" /></button>
</div>
@{ int index = 0; }



<table class="table table-striped">
    <tbody>

        @foreach (var ff in @Model)
        {
            string str = "";
            string str1 = "";
            str = "#exampleModalUsers" + @index.ToString();
            index = index + 1;
            str1 = str.Substring(1, str.Length - 1);
            <tr>
                <td>
                    <div class="container pad">
                        <div class="row" data-toggle="modal" data-target=@str>
                            @ff.UserName
                        </div>
                    </div>
                </td>
                <td>
                    @ff.Email
                </td>
            </tr>
            //rtquertouwyeriutywuertowuerytuweryotiueyrt
            <div class="modal fade" id=@str1 tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">@ff.UserName</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @ff.UserName
                            <br />
                            @ff.Email
                            <br />
                            @ff.Id
                            <br />
                            @ff.PhoneNumber
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Сделать администратором</button>
                            @if (ff.LockoutEndDateUtc == null || ff.LockoutEndDateUtc < DateTime.Now)
                            {
                                <button type="button" onclick="UserBlock('@ff.Id');" class="btn btn-primary">Заблокировать</button>
                            }
                            else
                            {
                                <button type="button" onclick="UserUnlock('@ff.Id');" class="btn btn-primary">Разблокировать</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>